/*
    Document   : main
    Created on : May 14, 2012, 2:32:36 PM
    Author     : areed12
    Description:
        Purpose of the stylesheet follows.
*/
/* Backgrounds */
/* Page Layout */
/* Menu Styles */
/* Mixins */
body {
  margin: 0;
  background: #f4dbc2; }

.container {
  width: 960px;
  position: relative;
  margin: 0 auto;
  box-shadow: 0px 0px 10px #888888;
  -webkit-box-shadow: 0px 0px 10px #888888;
  -moz-box-shadow: 0px 0px 10px #888888; }

.header {
  width: 100%;
  height: 150px;
  background-color: #834c24;
  background-image: -moz-linear-gradient(#834c24, #693c1c);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#834c24), to(#693c1c));
  background-image: -webkit-linear-gradient(#834c24, #693c1c);
  background-image: -o-linear-gradient(#834c24, #693c1c);
  background-image: linear-gradient(#834c24, #693c1c); }

.navbar {
  width: 980px;
  margin-left: -10px;
  position: relative; }

.navbar:before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: 0px;
  top: 100%;
  border-width: 5px 5px;
  border-style: solid;
  border-color: #0583d5 #0583d5 transparent transparent; }

.navbar:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: 970px;
  top: 100%;
  border-width: 5px 5px;
  border-style: solid;
  border-color: #0583d5 transparent transparent #0583d5; }

/*.menu:after {
    content: "";
    position: absolute;
    top: 3px;
    bottom: 3px;
    left : -10px;
    right: -10px;
    border-top: 1px dashed #fff;
    border-bottom: 1px dashed #fff;
}*/
/*.navbar:before, .navbar:after {
    width:$fork_content;
    content: "";
    position: absolute;
    border: {
        width: ($fork_width - $fork_content)/2;
        style: solid;
        color: $forks;
    }
}

.navbar:after {
    left: $fork_right_margin;
    top: $fork_top_margin;
    border-right-color:transparent;
}

.navbar:before {
    left: $fork_left_margin;
    top: $fork_top_margin;
    border-left-color:transparent;
}*/
.menu {
  width: 100%;
  height: 48px;
  position: relative;
  margin-top: 0px;
  background-color: #56bafb;
  background-image: -moz-linear-gradient(#56bafb, #34acfb);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#56bafb), to(#34acfb));
  background-image: -webkit-linear-gradient(#56bafb, #34acfb);
  background-image: -o-linear-gradient(#56bafb, #34acfb);
  background-image: linear-gradient(#56bafb, #34acfb);
  text-align: center;
  z-index: 1; }

.navbar .menu_item {
  background-color: #56bafb;
  background-image: -moz-linear-gradient(#56bafb, #34acfb);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#56bafb), to(#34acfb));
  background-image: -webkit-linear-gradient(#56bafb, #34acfb);
  background-image: -o-linear-gradient(#56bafb, #34acfb);
  background-image: linear-gradient(#56bafb, #34acfb);
  display: inline-block;
  line-height: 48px;
  padding: 0 24px;
  margin-top: 0;
  position: relative;
  font-weight: bold;
  font-family: 'Lobster Two', cursive;
  font-size: 1.2em;
  text-shadow: 1px 1px 2px #444;
  z-index: 1; }

.menu_wrapper {
  display: inline-block; }

.navbar a:link, .navbar a:visited {
  color: #fff;
  text-decoration: none;
  float: left;
  height: 48px;
  overflow: hidden; }

.navbar a:link:hover, .navbar a:visited:hover {
  overflow: visible; }

.navbar a:hover {
  background: #F4E6CC; }

.navbar a:hover .menu_item {
  background-color: #35adfa;
  background-image: -moz-linear-gradient(#35adfa, #24a6fa);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#35adfa), to(#24a6fa));
  background-image: -webkit-linear-gradient(#35adfa, #24a6fa);
  background-image: -o-linear-gradient(#35adfa, #24a6fa);
  background-image: linear-gradient(#35adfa, #24a6fa);
  margin-top: -12px; }

.navbar .menu_item:before {
  content: "";
  position: absolute;
  top: 48px;
  left: 0;
  border-right: 12px solid #0583d5;
  border-bottom: 12px solid #34acfb; }

.navbar .menu_item:after {
  content: "";
  position: absolute;
  top: 48px;
  right: 0;
  border-left: 12px solid #0583d5;
  border-bottom: 12px solid #34acfb; }

.content {
  width: 960px;
  height: 100%;
  min-height: 600px;
  background: white;
  position: relative;
  text-align: center;
  overflow: hidden; }

.content_container {
  width: 912px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  display: inline-block;
  background: #F4E6CC;
  box-shadow: 0px 0px 10px #888888;
  -webkit-box-shadow: 0px 0px 10px #888888;
  -moz-box-shadow: 0px 0px 10px #888888; }

.newsfeed, .left_box {
  padding: 0;
  height: 100%;
  position: relative;
  margin-left: 24px;
  float: left;
  background: #F4E6CC;
  box-shadow: 0px 0px 10px #888888;
  -webkit-box-shadow: 0px 0px 10px #888888;
  -moz-box-shadow: 0px 0px 10px #888888; }

.newsfeed {
  width: 588px; }

.newsfeed .ribbon {
  font-family: 'Lobster Two', cursive;
  color: #fff;
  width: 476px;
  height: 36px;
  line-height: 36px;
  margin: 15px 0 0px -10px;
  padding-left: 35px;
  position: relative;
  background-color: #24a6fa;
  text-shadow: 1px 1px 2px #444;
  text-align: left; }

.newsfeed .ribbon:after, .left_box .ribbon:after {
  width: 24px;
  content: "";
  position: absolute;
  left: 100%;
  top: 0;
  border-width: 18px;
  border-style: solid;
  border-color: #24a6fa;
  border-right-color: transparent; }

.newsfeed .ribbon:before, .left_box .ribbon:before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: 0px;
  top: 100%;
  border-width: 5px 5px;
  border-style: solid;
  border-color: #0583d5 #0583d5 transparent transparent; }

.newsfeed .article {
  margin: 0 40px 20px 10px;
  padding: 0 10px 10px 10px;
  text-align: left; }

.newsfeed .article p {
  text-align: justify;
  line-height: 1.3;
  padding: 10px;
  margin: 0;
  font-family: 'Glass Antiqua', cursive;
  font-size: 1.15em; }

.newsfeed .article a, .newsfeed .article a:visited {
  margin-left: 10px;
  font-family: Times;
  color: #FF6600; }

.left_box {
  width: 300px;
  margin-right: 24px; }

.left_box div {
  height: 300px;
  margin-bottom: 20px; }

.left_box .ribbon {
  font-family: 'Lobster Two', cursive;
  color: #fff;
  height: 36px;
  width: 210px;
  line-height: 36px;
  margin: 15px 0 0 -10px;
  padding-left: 35px;
  position: relative;
  background-color: #24a6fa;
  text-shadow: 1px 1px 2px #444;
  text-align: left; }

.left_box img {
  margin-top: 15px; }

.featured_images {
    position: relative;
    width: 224px;
    height: 224px !important;
    margin: 0 auto;
}

.featured_images .featured {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.featured:first-child {
    display: block;
}
