@font-face {
  font-family: 'Glass Antiqua';
  font-style: normal;
  font-weight: 400;
  src: local('Glass Antiqua'), local('GlassAntiqua-Regular'), url('/fonts/GlassAntiqua.woff') format('woff');
}