#pdf-list{
  padding: 2% 35% 2% 15%;
  text-align: left;
}

.pdf-item{
  padding: 1% 0%;
  margin: 1% 0%;
  font-size: 130%;
}

.pdf-item a:link{
  background-color: #56BAFB;
  color: #FFFFFF;
}

.pdf-item a:hover, a:active{
  color: #FF6600;
}

.pdf-item-dl{
  float: right;
  font-size: 90%;
}

#pdf-viewer{
  width: 100%;
}

#pdf-toolbar{
  width: 90%;
  margin: 2% 5% 0% 5%;
  padding: 1% 0% 2% 0%;
  text-align: center;
  -moz-border-radius: 15px 15px 0px 0px;
  border-radius: 15px 15px 0px 0px;
  background: -ms-linear-gradient(bottom, #FFFFFF 0%, #56BAFB 25%);
  background: -moz-linear-gradient(bottom, #FFFFFF 0%, #56BAFB 25%);
  background: -o-linear-gradient(bottom, #FFFFFF 0%, #56BAFB 25%);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(0.25, #56BAFB));
  background: -webkit-linear-gradient(bottom, #FFFFFF 0%, #56BAFB 25%);
  background: linear-gradient(bottom, #FFFFFF 0%, #56BAFB 25%);
}

#pdf-prev, #pdf-next{
  margin: 0% 1% 0% 3%;
  padding: 0.2% 1%;
  float: left;
}

#pdf-page-num-label, #pdf-page-num, #pdf-page-count{}

#pdf-download, #pdf-fullscreen{
  margin: 0% 3% 0% 1%;
  padding: 0.2% 1%;
  float: right;
}

canvas#pdf{
  width: 90%;
  margin: 0% 5% 5% 5%;
  background-color: #FFFFFF;
}

/* Testing purposes only! */
/* Debugs the div tags */
/*
#pdf-list, .pdf-item, .pdf-item-dl, #pdf-viewer, #pdf-toolbar, #pdf-page-num-label, #pdf-page-num, #pdf-page-count, canvas#pdf{
  border: 5px solid black;
}
*/
