html, body {
background-color:#241005;
margin:0px;
height:98%;
}

.button{
visibility: hidden;
}

p, ul {
color:#EEEEEE;
font-size:small;
}

#loadPage {
	width: 762px;
	height: 930px;
}

.loadingPage {
	background: url(assets/loading.gif) no-repeat center center;
}

#container {
background-color: #43230a;
margin:auto;
width:800px;
border: 2px solid #EEE;
}

#header {
padding-top:10px;
margin:0px;
border-top:0px;
text-align:center;
}

#title{
color: #EEEEEE;
font-size:xx-large;
text-align:center;
}

#navbar {
background-color:#301807;
margin:0px;
height: 35px;
font-size: medium;
color:#EEE;
float: left;
width: 800px;
border-bottom: 1px solid #785539;
}

#push {
padding-right:50px;
}

#clear{
clear: both;
}

#search {
padding-right:10px;
padding-top:6px;
float:right;
margin:auto;
}

#main {
padding:15px;
margin-top:25px;
text-align:center;
}

#footer {
margin-right:10px;
margin-left:10px;
text-align:center;
width:780px;
border-top: 5px double #785539;
clear: both;
}

a:link {
color:#785539;
text-decoration:none;
}

a:visited {
color:#785539;
text-decoration:none;
}

a:hover {
color:#785539;
text-decoration:underline;
}

a:active {
color:#785539;
text-decoration:none;
}

h1{
color: white;
}

h2{
color: white;
}

h3{
color: white;
}

li{
color: black;
}

#navbar ul {
font-family:Copperplate Gothic Light,sans-serif;
font-size:medium;
font-weight:normal;
text-align: center;
list-style: none;
display: inline;
margin: 0px;
padding: 0px;
padding-top:10px;
width: 8em;
float:left;
}

#navbar a, #navbar h2 {
font-family:Copperplate Gothic Light,sans-serif;
font-size:medium;
font-weight:normal;
display: block;
color:#EEEEEE;
margin: 0px;
padding: 0px;
}

#navbar h2 {
font-family:Copperplate Gothic Light,sans-serif;
font-size:medium;
font-weight:normal;
color: #fff;
background-color:#301807;
padding: 0px;
}

#navbar ul a {
color:#EEEEEE;
font-family:Copperplate Gothic Light,sans-serif;
font-weight:normal;
background-color:#301807;
text-decoration: none;
padding: 0px;
}

#navbar ul ul a {
font-size:small;
background-color:#301807;
padding: 0px;
}

#navbar ul a:hover {
color:#EEEEEE;
font-family:Copperplate Gothic Light,sans-serif;
font-weight:normal;
background-color:#301807;
text-decoration: underline;
padding: 0px;
}

#navbar ul ul a:hover {
background-color:#301807;
padding: 0px;
}

#navbar li {
position: relative;
padding: 0px;
}

#navbar ul ul ul {
padding:0px;
position: absolute;
top: -4%;
left: 100%;
}

#navbar ul ul {
background-color:#301807;
position: absolute;
top:100%;
left:20%;
z-index: 500;
padding-top:8px;
}

#navbar ul ul li{
background-color:#301807;
padding-top:5px;
padding-bottom:5px;
border-top:1px solid #785539;
}

#navbar ul ul h2{
background-color:#301807;
font-size:small;
border-right:1px solid #785539;
}

div#navbar ul ul,
div#navbar ul li:hover ul ul,
div#navbar ul ul li:hover ul ul{
display: none;
}

div#navbar ul li:hover ul,
div#navbar ul ul li:hover ul,
div#navbar ul ul ul li:hover ul{
display: block;
}