{% extends "double-column.twig" %}

{% block leftcolumn %}
<h1 class="ribbon">Welcome!</h1>
<div class="article body_text">
    <p>
        Welcome to the exciting past and present of an unusual small
        community in the heart of the Heartland!
    </p>
    <p>
        This site opens our historical resources to the Internet and
        invites you to share in adding information, correcting our
        sources, and asking us for specific information you cannot find
        here. This site is an organic history book &mdash; it continues to grow
        from the input and knowledge of anyone in the world. Almost all
        of our known historical resources will eventually be available
        on this website.
    </p>
    <p>
        Mount Vernon Historic Preservation Commission :: Mount Vernon, Iowa
    </p>
</div>
<h1 class="ribbon">{{ post.title }}</h1>
<div class="article body_text">
    {% autoescape false %}
    <p>{{ post.text|max_words(150) }}</p>
    {% endautoescape %}
    <!--<a href="<?php WEBROOT() ?>pages/posts.php?id=<?php echo $post['id']; ?>">Read more...</a>-->
</div>
{% endblock %}

{% block rightcolumn %}
<div>
    <h1 class="ribbon">Featured Images</h1>
    <div class="left_content">
        {% set cnt = 0 %}
        {% for image in images %}
            {% if cnt == 0 %}
                {% set cnt = 1 %}
            <div class="featured current">
            {% else %}
                    <div class="featured">
            {% endif %}
                            <a href="/archives/images/{{ image.id }}"><img src="{{ image.thumbnail }}" /></a>
                        </div>
            {% endfor %}
                    </div>
                    <span style="display:block; margin:0 auto; color: #FF6600;">
                        <button class="button" id="prevImg"><</button><button class="button" id="nextImg">></button>
                    </span>
                </div>
                <div>
                    <h1 class="ribbon">Common Tags</h1>
                    <div class="left_content" id="tagcloud"></div>
                </div>
{% endblock %}