{% extends "single-column.twig" %}

{% block title %}MVHPC :: Making History{% endblock %}

{% block singlecolumnbody %}
    <h1 class="ribbon"> History & Mount Vernon H.S. </h1>

    <p class="body_text">
        The Commission works closely with the Mount Vernon High School to educate students on the value of historic preservation.
    </p>
{% endblock %}