{% extends "MVHPCWebBundle::base.layout.html.twig" %}
{% block body %}
<div class='content twoColumn'>
<div class='left_col'>
    {% block leftcolumn %}{% endblock %}
</div>
<div class='right_col'>
    {% block rightcolumn %}{% endblock %}
</div>
{% endblock %}