/* 
    Document   : main
    Created on : May 14, 2012, 2:32:36 PM
    Author     : areed12
    Description:
        Purpose of the stylesheet follows.
*/


/* Backgrounds */
$header_bg: #834C24;
$body_bg: #F4DBC2;
$newsfeed_bg: #FFF;
$menu_bg: #56BAFB;

/* Page Layout */
$container_width: 960px;

/* Menu Styles */
$forks: #24a6fa;
$folds: #0583d5;
$fork_content: 24px;
$fork_width: 72px;
$menu_width: $container_width + 48px;
$menu_height: $fork_width - $fork_content;
$fork_left_margin: - $fork_width;
$fork_right_margin: $fork_left_margin + $fork_width + $menu_width - ($fork_content * 2);
$menu_top_margin: 0px;
$menu_left_margin: $fork_left_margin + $fork_width - $fork_content;
$fork_top_margin: $menu_top_margin + 24px; 
$fold_right_margin: $fork_right_margin - $menu_left_margin;

/* Mixins */

@mixin box-shadow($top: 0, $right: 0, $blur: 0, $color: #fff) {
    box-shadow: $top $right $blur $color;
    -webkit-box-shadow: $top $right $blur $color;
    -moz-box-shadow: $top $right $blur $color;
}

body {
    margin: 0;
    background: $body_bg;
}

.newsfeed {
    width: 100%;
    height: 600px;
    background: $newsfeed_bg;
}

.container {
    width: $container_width;
    position: relative;
    margin: 0 auto;
    @include box-shadow(0px, 0px, 10px, #888); 
}

.header {
    width: 100%;
    height: 150px;
    background: $header_bg;
}

.navbar {
    position: relative;
}

.navbar:before, .navbar:after {
    width:$fork_content;
    content: "";
    position: absolute;
    border: {
        width: ($fork_width - $fork_content)/2;
        style: solid;
        color: $forks;
    }
    z-index: 0;
}

.navbar:after {
    left: $fork_right_margin;
    top: $fork_top_margin;
    border-right-color:transparent;
}

.navbar:before {
    left: $fork_left_margin;
    top: $fork_top_margin;
    border-left-color:transparent;
}

.menu {
    width: $menu_width;
    height: $menu_height;
    position: relative;
    margin-top: $menu_top_margin;
    margin-left: $menu_left_margin;
    background: $menu_bg;
    text-align: center;
    z-index: 1;
}

.menu:before {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    left: 0px;
    top: 100%;
    border-width: $fork_content/2 $fork_content/2;
    border-style: solid;
    border-color: $folds $folds transparent transparent;
    z-index: 2;
}

.menu:after {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    left: $fold_right_margin;
    top: 100%;
    border-width: $fork_content/2 $fork_content/2;
    border-style: solid;
    border-color: $folds transparent transparent $folds;
    z-index: 2;
}

.navbar .menu_item {
    background: $menu_bg;
    display: inline-block;
    line-height:$menu_height;
    padding:0 $menu_height/2;
    margin-top:0;
    position:relative;
    font-weight: bold;
    font-family: Arial;
    text-shadow: 1px 1px 2px #444;
}

.menu_wrapper {
    display: inline-block;
}

.navbar a:link, .navbar a:visited { 
    color:#fff;
    text-decoration:none;
    float:left;
    height:$menu_height;
    overflow: hidden;
}

.navbar a:link:hover, .navbar a:visited:hover { 
    overflow: visible;
}

.navbar a:hover {
    background: $newsfeed_bg;
}

.navbar a:hover .menu_item {
    background:#24a6fa;
    margin-top:-$fork_content/2;
}

.navbar .menu_item:before {
    content: "";
    position:absolute;
    top:$menu_height;
    left:0;
    border-right:$fork_content/2 solid $folds;
    border-bottom:$fork_content/2 solid $menu_bg;
}

.navbar .menu_item:after {
    content: "";
    position:absolute;
    top:$menu_height;
    right:0;
    border-left:$fork_content/2 solid $folds;
    border-bottom:$fork_content/2 solid $menu_bg;
}
